body {
    background-color: #0f161e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239db2bf' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 9500px; */
}

.myNameTitle {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #f2f5f8;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top: -20px;
    left: 20px;
}

.myNameTitle::before, .myNameTitle::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.myNameTitle::before {
    bottom: 0;
}

.myNameTitle::after {
    bottom: -5px;
}

.myNameTitle:hover::before, .myNameTitle:hover::after {
    cursor: pointer;
    transform: scaleX(1);
}

.proffDesc {
    width: 60%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 300px;
    /* transform-origin: center;
    transition: transform 0.2s ease-out; */
}

.proffDesc:hover {
    
    cursor: pointer;

    .topCorner {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner{
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.topCorner {
    width: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    top: -50px;
    left: -50px;
}

.leftTopCorner {
    height: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    top: -50px;
    left: -50px;
}

.bottomCorner {
    width: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    bottom: -50px;
    right: -50px;
}

.rightBottomCorner {
    height: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    bottom: -50px;
    right: -50px;
}

.descriptionTitle {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 50px;
    position: relative;
    left: 5%;
    display: inline-block;
}

.descriptionTitle::before,
.descriptionTitle::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.descriptionTitle::before {
    bottom: 0;
}

.descriptionTitle::after {
    bottom: -5px;
}

.proffDesc:hover .descriptionTitle::before,
.proffDesc:hover .descriptionTitle::after {
    transform: scaleX(1);
}

.personalDescription {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 30px;
    width: 60%;
    padding-left: 8%;
    position: absolute;
    top: 100px;
}

.imgContanier {
    width: 250px;
    height: 350px;
    border: solid 2px #9cb1be;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.inspiring1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 50px;
    width: 800px;
    text-align: center;
    position: absolute;
    top: 1000px;
    left: 50%;
    transform: translateX(-50%);
}

body::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, Edge */
}

.navigationButtons {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #f2f5f8;
}

.navP1 {
    transition: transform 0.2s ease-out;
    will-change: scale;
    z-index: 3;
    position: fixed;
    right: 500px;
    top: 0;
}

.navP1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.navP1::before, .navP1::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.navP1::before {
    bottom: 0;
}

.navP1::after {
    bottom: -5px;
}

.navP1:hover::before, .navP1:hover::after {
    cursor: pointer;
    transform: scaleX(1);
}

.navP2 {
    transition: transform 0.2s ease-out;
    will-change: scale;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 270px;
}

.navP2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.navP2::before, .navP2::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.navP2::before {
    bottom: 0;
}

.navP2::after {
    bottom: -5px;
}

.navP2:hover::before, .navP2:hover::after {
    cursor: pointer;
    transform: scaleX(1);
}

.navP3 {
    transition: transform 0.2s ease-out;
    will-change: scale;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 50px;
}

.navP3:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.navP3::before, .navP3::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.navP3::before {
    bottom: 0;
}

.navP3::after {
    bottom: -5px;
}

.navP3:hover::before, .navP3:hover::after {
    cursor: pointer;
    transform: scaleX(1);
}

.secondProfileDescription {
    width: 60%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 1600px;
    /* transform-origin: center;
    transition: transform 0.2s ease-out; */
}

.secondProfileDescription:hover {

    cursor: pointer;

    .topCorner1 {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner1 {
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner1 {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner1 {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.secondTitle {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 50px;
    position: absolute;
    right: 5%;
}

.secondPersonal {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 28px;
    width: 65%;
    text-align: right;
    position: absolute;
    top: 100px;
    right: 100px;
}

.secondTitle::before,
.secondTitle::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.secondTitle::before {
    bottom: 0;
}

.secondTitle::after {
    bottom: -5px;
}

.secondProfileDescription:hover .secondTitle::before,
.secondProfileDescription:hover .secondTitle::after {
    transform: scaleX(1);
}

.secondImg {
    width: 250px;
    height: 350px;
    border: solid 2px #9cb1be;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.topCorner1 {
    width: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    top: -50px;
    right: -50px;
}

.leftTopCorner1 {
    height: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    top: -50px;
    right: -50px;
}

.bottomCorner1 {
    width: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.rightBottomCorner1 {
    height: 200px;
    border: solid 2px #9cb1be;
    border-radius: 50px;
    transition: transform 0.2s ease;
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.inspiring2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 50px;
    width: 800px;
    text-align: center;
    position: absolute;
    top: 2300px;
    left: 50%;
    transform: translateX(-50%);
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    background: #1e272f;
    border: solid 1px #9cb1be;
    color: #f2f5f8;
    padding: 15px 0;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 250px;
    position: absolute;
    top: 2800px;
    left: 50%;
    transform: translateX(-50%);
}

.track {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(-110%);
    }
}

.Project1 {
    width: 40%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 3200px;
    right: 50%;
}

.Project1:hover {

    cursor: pointer;

    .topCorner {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner{
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.Title1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 45px;
    position: absolute;
    top: -25px;
    left: 25px;
}

.Title1::before,
.Title1::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.Title1::before {
    bottom: 0;
}

.Title1::after {
    bottom: -5px;
}

.Project1:hover .Title1::before,
.Project1:hover .Title1::after {
    transform: scaleX(1);
}

.projectD1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 25px;
    width: 80%;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.B1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 25px;
}

.dirLine1 {
    border: solid 2px #9cb1be;
    border-radius: 20px;
    width: 10%;
    position: absolute;
    top: 3400px;
    left: 55%;
}

.visitBt1 {
    width: 170px;
    height: 60px;
    border: solid 2px #9cb1be;
    border-radius: 20px;
    background-color: #1e272f;
    color: #f2f5f8;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: transform 0.2s ease;
    will-change: scale;
}

@keyframes float {
    0% {
        transform: translateX(-50%) translateY(0px);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
    100% {
        transform: translateX(-50%) translateY(0px);
    }
}

.visitBt1:hover {
    transform: translateY(0) scale(1.2);
    cursor: pointer;
}

#firstA {
    position: absolute;
    top: 3370px;
    left: 67%;
    animation: float 2000ms ease-in-out infinite;
}

.project2 {
    width: 40%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 4000px;
    left: 50%;
}

.Title2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 45px;
    position: absolute;
    top: -25px;
    right: 25px;
}

.Title2::before,
.Title2::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.Title2::before {
    bottom: 0;
}

.Title2::after {
    bottom: -5px;
}


.project2:hover .Title2::before,
.project2:hover .Title2::after {
    transform: scaleX(1);
}

.project2:hover {

    cursor: pointer;

    .topCorner1 {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner1 {
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner1 {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner1 {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.projectD2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 25px;
    width: 80%;
    text-align: right;
    position: absolute;
    top: 130px;
    right: 50%;
    transform: translateX(50%);
}

.B2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 30px;
    position: absolute;
    top: 70px;
    right: 25px;
}

.dirLine2 {
    border: solid 2px #9cb1be;
    border-radius: 20px;
    width: 10%;
    position: absolute;
    top: 4200px;
    right: 55%;
}

.visitBt2 {
    width: 170px;
    height: 60px;
    border: solid 2px #9cb1be;
    border-radius: 20px;
    background-color: #1e272f;
    color: #f2f5f8;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: transform 0.2s ease;
    will-change: scale;
}

.visitBt2:hover {
    transform: translateY(0) scale(1.2);
    cursor: pointer;
}

#firstA2 {
    position: absolute;
    top: 4170px;
    right: 67%;
    animation: float 2000ms ease-in-out infinite;
}

.inspiring3 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 50px;
    width: 800px;
    text-align: center;
    position: absolute;
    top: 4800px;
    left: 50%;
    transform: translateX(-50%);
}

.topBorder {
    width: 100%;
    border: solid 1px #9cb1be;
    position: fixed;
    top: 130px;
}

.blured {
    width: 100%;
    height: 130px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.thirdProject {
    width: 40%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 5400px;
    right: 50%;
}

.thirdProject:hover {

    cursor: pointer;

    .topCorner {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner{
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.Title3::before,
.Title3::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.Title3::before {
    bottom: 0;
}

.Title3::after {
    bottom: -5px;
}

.thirdProject:hover .Title3::before,
.thirdProject:hover .Title3::after {
    transform: scaleX(1);
}

.Title3 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 45px;
    position: absolute;
    top: -25px;
    left: 25px;
}

.D3 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 25px;
    width: 80%;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.B3 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f5f8;
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 25px;
}

#A3 {
    position: absolute;
    top: 5570px;
    left: 67%;
    animation: float 2000ms ease-in-out infinite;
}

.V3 {
    width: 170px;
    height: 60px;
    border: solid 2px #9cb1be;
    border-radius: 20px;
    background-color: #1e272f;
    color: #f2f5f8;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: transform 0.2s ease;
    will-change: scale;
}

.V3:hover {
    transform: translateY(0) scale(1.2);
    cursor: pointer;
}

.L3 {
    border: solid 2px #9cb1be;
    border-radius: 20px;
    width: 10%;
    position: absolute;
    top: 5600px;
    left: 55%;
}

.fourthProject {
    width: 40%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 6200px;
    left: 50%;
}

.Title2::before,
.Title2::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.Title2::before {
    bottom: 0;
}

.Title2::after {
    bottom: -5px;
}

.fourthProject:hover .Title2::before,
.fourthProject:hover .Title2::after {
    transform: scaleX(1);
}

.fourthProject:hover {

    cursor: pointer;

    .topCorner1 {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner1 {
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner1 {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner1 {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.walking1 {
    overflow: hidden;
    white-space: nowrap;
    background: #1e272f;
    border: solid 1px #9cb1be;
    color: #f2f5f8;
    padding: 15px 0;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 300px;
    position: absolute;
    top: 7000px;
    left: 50%;
    transform: translateX(-50%);
}

.walking2 {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
}

.fifthProject {
    width: 40%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 7400px;
    right: 50%;
}

.fifthProject:hover {

    cursor: pointer;

    .topCorner {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner{
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.Title3::before,
.Title3::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.Title3::before {
    bottom: 0;
}

.Title3::after {
    bottom: -5px;
}

.fifthProject:hover .Title3::before,
.fifthProject:hover .Title3::after {
    transform: scaleX(1);
}

.sixthProject {
    width: 40%;
    height: 400px;
    border: solid 2px #9cb1be;
    border-radius: 8px;
    background-color: #1e272f;
    position: absolute;
    top: 8200px;
    left: 50%;
}

.Title2::before,
.Title2::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f2f5f8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
}

.Title2::before {
    bottom: 0;
}

.Title2::after {
    bottom: -5px;
}

.sixthProject:hover .Title2::before,
.sixthProject:hover .Title2::after {
    transform: scaleX(1);
}

.sixthProject:hover {
    
    cursor: pointer;

    .topCorner1 {
        transform: translateY(500px) rotate(-180deg);
    }

    .leftTopCorner1 {
        transform: translateY(300px) rotate(-180deg);
    }

    .bottomCorner1 {
        transform: translateY(-500px) rotate(-180deg);
    }

    .rightBottomCorner1 {
        transform: translateY(-300px) rotate(-180deg);
    }
}

.contactS {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    color: #f2f5f8;
    position: absolute;
    top: 8800px;
}

.lastLine {
    border: solid 1px #9cb1be;
    width: 99%;
    position: absolute;
    top: -1px;
}

.cB {
    width: 100%;
    height: 130px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    position: absolute;
    top: 9003px;
    left: 0;
}

.cE {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #f2f5f8;
}

.EC {
    z-index: 2;
    transition: transform 0.2s ease-in-out;
    will-change: scale;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EC:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.GC {
    transition: transform 0.2s ease-in-out;
    will-change: scale;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GC:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.LC {
    transition: transform 0.2s ease-in-out;
    will-change: scale;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LC:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.TC {
    transition: transform 0.2s ease-in-out;
    will-change: scale;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TC:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.L4 {
    border: solid 2px #9cb1be;
    border-radius: 20px;
    width: 10%;
    position: absolute;
    top: 6380px;
    right: 55%;
}

.V4 {
    width: 170px;
    height: 60px;
    border: solid 2px #9cb1be;
    border-radius: 20px;
    background-color: #1e272f;
    color: #f2f5f8;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: transform 0.2s ease;
    will-change: scale;
}

.V4:hover {
    transform: translateY(0) scale(1.2);
    cursor: pointer;
}

#A4 {
    position: absolute;
    top: 6350px;
    right: 67%;
    animation: float 2000ms ease-in-out infinite;
}

#A5 {
    position: absolute;
    top: 7570px;
    left: 67%;
    animation: float 2000ms ease-in-out infinite;
}

.V5 {
    width: 170px;
    height: 60px;
    border: solid 2px #9cb1be;
    border-radius: 20px;
    background-color: #1e272f;
    color: #f2f5f8;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: transform 0.2s ease;
    will-change: scale;
}

.V5:hover {
    transform: translateY(0) scale(1.2);
    cursor: pointer;
}

.L5 {
    border: solid 2px #9cb1be;
    border-radius: 20px;
    width: 10%;
    position: absolute;
    top: 7600px;
    left: 55%;
}

.L6 {
    border: solid 2px #9cb1be;
    border-radius: 20px;
    width: 10%;
    position: absolute;
    top: 8380px;
    right: 55%;
}

.V6 {
    width: 170px;
    height: 60px;
    border: solid 2px #9cb1be;
    border-radius: 20px;
    background-color: #1e272f;
    color: #f2f5f8;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: transform 0.2s ease;
    will-change: scale;
}

.V6:hover {
    transform: translateY(0) scale(1.2);
    cursor: pointer;
}

#A6 {
    position: absolute;
    top: 8350px;
    right: 67%;
    animation: float 2000ms ease-in-out infinite;
}

@media (min-width: 320px) and (max-width: 374px) {
    #hide {
        display: none;
    }

    .myNameTitle {
        font-size: 25px;
        width: 93%;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .proffDesc {
        width: 85%;
        height: 900px;
    }

    .topCorner {
        display: none;
    }

    .leftTopCorner {
        display: none;
    }

    .bottomCorner {
        display: none;
    }

    .rightBottomCorner {
        display: none;
    }

    .descriptionTitle {
        font-size: 40px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .personalDescription {
        font-size: 25px;
        width: 80%;
        text-align: center;
    }

    .imgContanier {
        width: 200px;
        height: 300px;
        position: absolute;
        top: 570px;
        left: 50%;
        transform: translateX(-50%);
    }

    .inspiring1 {
        font-size: 35px;
        width: 80%;
        position: absolute;
        top: 1500px;
    }

    .navP1 {
        display: none;
    }

     .navP2 {
        display: none;
    }

     .navP3 {
        display: none;
    }

    .secondProfileDescription {
        width: 85%;
        height: 1200px;
        position: absolute;
        top: 2200px;
    }

    .topCorner1 {
        display: none;
    }

    .leftTopCorner1 {
        display: none;
    }

    .bottomCorner1 {
        display: none;
    }

    .rightBottomCorner1 {
        display: none;
    }

    .secondTitle {
        font-size: 40px;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .secondPersonal {
        font-size: 25px;
        width: 80%;
        text-align: center;
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
    }

    .secondImg {
        width: 200px;
        height: 300px;
        z-index: 5;
        position: absolute;
        top: 850px;
        left: 50%;
        transform: translateX(-50%);
    }

    .inspiring2 {
        font-size: 35px;
        width: 80%;
        position: absolute;
        top: 3700px;
    }

    .marquee {
        position: absolute;
        top: 4300px;
    }

    .Project1 {
        width: 85%;
        height: 900px;
        position: absolute;
        top: 4800px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Title1 {
        font-size: 35px;
        width: 80%;
        position: absolute;
        top: -10px;
        left: 20px;
    }

    .projectD1 {
        width: 80%;
        position: absolute;
        top: 220px;
    }

    .B1 {
        position: absolute;
        top: 110px;
        left: 20px;
    }

    .dirLine1 {
        width: 0;
        height: 100px;
        position: absolute;
        top: 5750px;
        left: 50%;
        transform: translateX(-50%);
    }

    #firstA {
        position: absolute;
        top: 5900px;
        left: 50%;
        transform: translateX(-50%);
        
    }

    .project2 {
        width: 85%;
        height: 1000px;
        position: absolute;
        top: 6200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Title2 {
        font-size: 35px;
        width: 80%;
        position: absolute;
        top: -10px;
        left: 20px;
    }

    .projectD2 {
        width: 80%;
        text-align: left;
        position: absolute;
        top: 250px;
    }

    .B2 {
        position: absolute;
        top: 150px;
        left: 20px;
    }

    .dirLine2 {
        width: 0;
        height: 100px;
        position: absolute;
        top: 7250px;
        left: 50%;
        transform: translateX(-50%);
    }

    #firstA2 {
        position: absolute;
        top: 7400px;
        left: 50%;
        right: auto;
    }

    .inspiring3 {
        font-size: 35px;
        width: 80%;
        position: absolute;
        top: 7800px;
    }

    .topBorder {
        width: 100%;
        position: fixed;
        top: 100px;
    }

    .blured {
        width: 100%;
        height: 100px;
    }
    
}